server:
  port: 9090

management:
  endpoints:
    web:
      base-path: /admin
      exposure:
        include: "*"
    enabled-by-default: true
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true

traceability:
  headers:
    requestId: x-traceability-request-id
    duration: x-traceability-duration
