server:
  port: 9090

spring:
  ldap:
    embedded:
      base-dn: dc=brule,dc=net
      credential:
        username: uid=admin
        password: secret
      ldif: classpath:schema.ldif
      port: 12345
      validation:
        enabled: false
  profiles:
    active: demo

management:
  endpoints:
    web:
      base-path: /admin
      exposure:
        include: "*"
    enabled-by-default: true
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true

traceability:
  headers:
    requestId: x-traceability-request-id
    duration: x-traceability-duration

module:
  greeting:
    enabled: true
  pdf:
    enabled: true
  security:
    ldap:
      applicationBase: dc=webflux-demo,dc=apps,dc=brule,dc=net
      permissionsBase: ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
      groupBase: ou=groups,dc=brule,dc=net
      userBase: ou=people,dc=brule,dc=net
      authorityFilter:
        PERM_SETLIST_CREATE: cn=setlist_create,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SETLIST_READ: cn=setlist_read,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SETLIST_UPDATE: cn=setlist_update,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SETLIST_DELETE: cn=setlist_delete,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SONG_CREATE: cn=song_create,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SONG_READ: cn=song_read,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SONG_UPDATE: cn=song_update,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        PERM_SONG_DELETE: cn=song_delete,ou=permissions,dc=webflux-demo,dc=apps,dc=brule,dc=net
        ROLE_ADMIN: cn=admins,ou=groups,dc=brule,dc=net

    jwt:
      expirationInSec: 300
    password-encoder:
      secret: mysecret
      iteration: 33
      keylength: 256
  song:
    enabled: true
    demo:
      directories:
        songs: classpath:/data/songs
  workflow:
    claimTicketNumberHeader: x-claim-ticket-number
